<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brilliant Tech</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="page-title">Brilliant Tech</h1>
    </header>

    <nav>
        <button id="logout" class="btn-logout">logout</button>
        <a href="/signup" id="signup" class="btn-signup">Sign Up</a>
        <a href="/login" class="login">Log In</a>
    </nav>

    <main>
      {{{ body }}}
    </main>

  </div>
<footer class="footer">
    Thanks for visiting!
</footer>
<script src="/javascript/logout.js"></script>
</body>

</html>