<div class="home">
    <div class="nav-mini">
        <a href="/" class="center">Linked Articles</a>
         {{#if loggedIn}}
      <a href="/dashboard">Your Dashboard</a>
      {{/if}}
  </div>
    <h3 class="link-heading">Blog Posts</h3>
    <ol class="post-list">
    {{#each blogs as |blog|}}
  <li>
    {{> blog-info blog }}
  </li>
  {{/each}}
</ol>

</div>