
  <div class="nav-mini">
       <a href="/" class="center">Linked Articles</a>
      <a href="/allblogs" class="center">Blog Posts</a>
       {{#if loggedIn}}
      <a href="/blog-dashboard">Dashboard(blogs)</a>
      {{/if}}
  </div>
  <h3 class="sub-heading">Post an Article</h3>
  <form id="add-link-form" class="add-form">
   <div class="add-field">
    <label for="title-input-link">Title:</label><br>
    <input type="text" style="width: 75%" id="title-input-link" />
  </div>
  <div class="add-field" > 
    <label for="author-input-link">Author:</label><br>
    <input type="text" style="width: 75%" id="author-input-link" />
  </div>
  <div class="add-field">
    <label for="discription-input-link">Description(brief):</label><br>
    <input type="text" style="width: 75%" id="description-input-link" />
  </div>
  <div class="add-field">
    <label for="url-input-link">url:</label><br>
    <input type="text" style="width: 75%" id="url-input-link" />
  </div>
  <div class="field">
    <button class="submit" type="submit">Submit</button>
  </div>
  </form>

  {{#if links.length}} 
  <div class="home">
 <h3 class="sub-heading">Articles You have Posted</h3>
    <ol class="post-list">
    {{#each links as |link|}}
  <li>
    {{> link-info link }}
    <a href="/dashboard/edit/{{link.id}}" class="edit-link">Edit post</a>
  </li>
  {{/each}}
</ol>
  {{/if}}
</div>
<script src="/javascript/add-link.js"></script>
