
  <div class="nav-mini">
      <a href="/" class="center">Return Home</a>
  </div>
  <form id="add-link-form" class="add-form">

  <h1 class="link-heading">Add an Article Link</h1>
   <div class="add-field">
    <label for="title-input-link">Title:</label><br>
    <input type="text" style="width: 500px" id="title-input-link" />
  </div>
  <div class="add-field" > 
    <label for="author-input-link">Author:</label><br>
    <input type="text" style="width: 500px" id="author-input-link" />
  </div>
  <div class="add-field">
    <label for="discription-input-link">Description(brief):</label><br>
    <input type="text" style="width: 500px" id="description-input-link" />
  </div>
  <div class="add-field">
    <label for="url-input-link">url:</label><br>
    <input type="text" style="width: 500px" id="url-input-link" />
  </div>
  <div class="field">
    <button class="submit" type="submit">Submit</button>
  </div>
  </form>

  {{#if links.length}} 
  <div class="home">
 <h3 class="sub-heading">Articles You have Linked</h3>
    <ol class="post-list">
    {{#each links as |link|}}
  <li>
    {{> link-info link }}
    <a href="/dashboard/edit/{{link.id}}" class="edit-link">Edit post</a>
  </li>
  {{/each}}
</ol>
  {{/if}}
</div>
<script src="/javascript/add-link.js"></script>
