<div class="home">
<div class="nav-mini">
    <a href="/dashboard"> &larr; Back to dashboard</a>
      <a href="/" class="center">Return Home</a>
  </div>
<h3 class="sub-heading">Edit Your Blog Post</h3>