<div class="home">
    <h1 class="link-heading">Linked Articles</h1>
    <ol class="post-list">
    {{#each links as |link|}}
  <li>
    {{> link-info link }}
  </li>
  {{/each}}
</ol>

</div>