<div class="home">
    <div class="nav-mini">
      <a href="/allblogs" class="center">Blog Posts</a>
       {{#if loggedIn}}
      <a href="/dashboard">Dashboard(articles)</a>
      <a href="/blog-dashboard">Dashboard(blogs)</a>
      {{/if}}
  </div>
    <h3 class="link-heading">Linked Articles</h3>
    <ol class="post-list">
    {{#each links as |link|}}
  <li>
    {{> link-info link }}
  </li>
  {{/each}}
</ol>

</div>