<div class="home">
    <div class="nav-mini">
         {{#if loggedIn}}
      <a href="/dashboard">Your Dashboard</a>
      {{/if}}
  </div>
    <h3 class="link-heading">Linked Articles</h3>
    <ol class="post-list">
    {{#each links as |link|}}
  <li>
    {{> link-info link }}
  </li>
  {{/each}}
</ol>

</div>