<div class="home">
  <div class="nav-mini">
      <a href="/" class="center">Return Home</a>
       {{#if loggedIn}}
      <a href="/dashboard">Your Dashboard</a>
      {{/if}}
  </div>

  <h1 class="link-heading">View Link Comments</h1>
  <ol class="post-list">
   <li>
    {{> link-info link }}
   </li>
 </ol>
 {{#if loggedIn}}
 <h4 class="comment-heading">Add a Comment Below</h4>
  <form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div class="btn-div">
    <button type="submit" class="btn-signup">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> commentlinks link.commentlinks}}

</div>
{{#if loggedIn}}
<script src="/javascript/commentlink.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}