* {
    box-sizing: border-box;
  }

html, body {
    background: url('/images/light-explosion.jpg') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-family: sans-serif;
    width:100%;
    margin:0 auto;
}

.wrapper {
    flex: 1 0 auto;
}
.page-title {
   
    text-align: center;
    color:cornsilk;
    font-size: 3.0rem;
}

.home {
    
    text-align: center;
    color: cornsilk;
}

.footer {
    flex-shrink: 0;
    text-align: center;
    color: cornsilk;
    background-color:black;
    position: sticky;
    top: 100vh;
}

.post {
    background-color: rgb(192,192,192,0.3);
    color:springgreen;
    display: block;
    border-radius: 20px;
    width: 95%;    
}

.post-list {
    list-style: none;
}

.meta {
    font-weight: bolder;
}

.link-title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #560485;
    
}

a {
    text-decoration: none;
    color: #560485;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color:salmon ;
  }
  .author {
      font-size: 0.8rem;
      color:rgb(29, 37, 37);
  }
  .description {
      font-size: 1.0rem;
      color:rgb(29, 37, 37);
  }